@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Fraunces:opsz,wght@9..144,100;9..144,200;9..144,300;9..144,400;9..144,500;9..144,600;9..144,700;9..144,800;9..144,900&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');

body, * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fraunces', serif;
}

img{
	max-width: 100%;
}


p{
	font-family: "Barlow", sans-serif;
	text-align: center;
}

h2{
	text-align: center;
}
a{
	text-decoration: none;
}


/*HEADER STYLES*/


header{
	padding-bottom: 200px;
	background-image: url("images/mobile/image-header.jpg");
	background-size: cover;
	background-position: 50% 120%;
	margin-bottom: -20px;
}

header h1{
	color: white;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 70px;
	font-family: 'Fraunces', serif;
	letter-spacing: 4px;
	word-spacing: 5px;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;	
}

.logo-hamburger-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

header > img{
	display: block;
	width: 40px;
	margin-left: auto;
	margin-right: auto;

}


/*END OF HEADER STYLES*/

/* SECTION ONE STYLES */

.section-one{
	background-color: rgba(240, 244, 243, 0.1);
}

.section-one > div{
	padding: 50px 20px;
	text-align: center;
}

.section-one h2{
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;	
	padding-bottom: 20px;
}

.section-one p{
	line-height: 25px;
	color: gray;
	font-weight: 500;
	margin-bottom: 40px;
}

.section-one a{
	color: black;
	font-weight: 700;

}


.underline{
	width: 120px;
	background-color: rgba(250, 212, 0, 0.5);
	height: 8px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 5px;
	margin-top: -7px;
}

.soft-red{
	background-color: hsl(7,99%, 70%);
}


section.graphics{
	position: relative;
	margin-bottom: -160px;

}


div.graphics{
	padding: 20px 10px;
	position: absolute;
	bottom: 200px;

}

div.graphics h2{
	margin-bottom: 15px;
	color: gray;
}

div.graphics p{
	line-height:22px;
	color: gray;
	font-weight: 500;
}

.section-two{
	position: relative;
}

section.testimonials{
	position: relative;
}